@component Card {
  :host {
    border-color: var(--spectrum-card-border-color);
    background-color: var(--spectrum-card-background-color);

    state(:hover) {
      border-color: var(--spectrum-card-border-color-hover);
    }

    state(selected),
    state(:focus) {
      border-color: var(--spectrum-card-border-color-key-focus);
      box-shadow: 0 0 0 1px var(--spectrum-card-border-color-key-focus);
    }

    state(drop-target) {
      border-color: var(--spectrum-card-border-color-key-focus);
      box-shadow: 0 0 0 1px var(--spectrum-card-border-color-key-focus);
      background-color: var(--spectrum-alias-highlight-selected);
    }
  }

  #description {
    color: var(--spectrum-card-description-text-color);
  }

  content(coverPhoto) {
    background-color: var(--spectrum-card-coverphoto-background-color);
    border-bottom-color: var(--spectrum-card-coverphoto-border-color);
  }

  content(footer) {
    border-color: var(--spectrum-card-border-color);
  }

  variant(quiet),
  variant(gallery) {
    border-color: transparent;
    background-color: transparent;

    content(preview) {
      background-color: var(--spectrum-card-quiet-preview-background-color);
    }

    state(:hover) {
      border-color: transparent;
      content(preview) {
        background-color: var(
          --spectrum-card-quiet-preview-background-color-hover
        );
      }
    }

    state(selected),
    state(:focus) {
      border-color: transparent;
      box-shadow: none;
      content(preview) {
        background-color: var(--spectrum-card-quiet-preview-background-color);

        state(:before) {
          border-color: var(--spectrum-card-quiet-border-color-selected);
          box-shadow: 0 0 0 1px var(--spectrum-card-quiet-border-color-selected);
        }
      }
    }

    state(drop-target) {
      border-color: transparent;
      background-color: transparent;
      box-shadow: none;

      content(preview) {
        background-color: var(--spectrum-alias-highlight-selected);

        state(:before) {
          border-color: var(--spectrum-card-quiet-border-color-selected);
          box-shadow: 0 0 0 1px var(--spectrum-card-quiet-border-color-selected);
        }
      }

      .spectrum-Asset-folderBackground,
      .spectrum-Asset-fileBackground {
        fill: var(--spectrum-alias-highlight-selected);
      }

      .spectrum-Asset-folderOutline,
      .spectrum-Asset-fileOutline {
        fill: var(--spectrum-card-quiet-border-color-selected);
      }
    }

    attribute(title) {
      color: var(--spectrum-card-quiet-title-text-color);
    }

    attribute(subtitle) {
      color: var(--spectrum-card-quiet-subtitle-text-color);
    }
  }
}
